//@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,500,600,700');

// --------------------------------------------------

// --------------------------------------------------
// Font family
// --------------------------------------------------
@title-family: 'Roboto', Helvetica, Arial, sans-serif;
@body-family: 'Roboto', Helvetica, Arial, sans-serif;
@btn-family: 'Roboto', Helvetica, Arial, sans-serif;
@code-family: monospace, sans-serif;

@body-font-size: 1rem;

@thumb-font-size: 0.7rem;

@component-title-size: 1.5rem; 
@sub-component-title-size: 1.25rem; 