// Default padding + size values
// -----------------------------

@device-width-large: 80rem;
@device-width-medium: 60rem;
@device-width-small: 46rem;

@page-width: @device-width-large;

@item-padding: 1rem;
@item-margin: 0.25rem;

@body-text-margin: 1rem;

@thumb-size: 10rem;

@nav-padding: 0.5rem;
@nav-width: @thumb-size * 3.45 / 2;

@page-padding: 2rem;

@component-padding: 1rem;


// defunct
// -----------------------------
@padding: 1rem;