// JSON builder app for developers
// -------------------------------

.accordionbtn {
    cursor: pointer;
    padding: 0.5rem; // Increase hit detection.

    &__minus {display: none;}
    &__plus {display: block;}

    &.is-active &__minus {display: block;}
    &.is-active &__plus {display: none;}
}