// Fiddle
// -----------------------------
// IMPORTANT! This component imports a (carbon-copied) Hybrid 'adapt.css' file to ensure that the preview tables are up to date.
// The file is in core/assets until further notice.

.fiddle {

    hr {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }

    // Items
    // ---------------------------------------------------------
    &__item-title {
        margin-top:     1rem;
        margin-bottom:  1em;
        font-size:      1.3rem;
        font-weight:    400;
        position:       relative;
    } 

    // Fiddle
    // ---------------------------------------------------------
    &__fiddle {
        margin-top: 1.5rem;
        display: flex;
        gap: 0.5rem 0.25rem;
        flex-direction: column;
    }
    &__fiddle-column {
        width: 100%;
        display: flex;
        justify-content: stretch;
        flex-direction: column;
    }
    &__fiddle-column-controls {
        display: flex;
        gap: 0.25rem;
    }
    &__fiddle-column-content {
        border: 1px solid rgb(31, 31, 31);
        flex-grow: 1;
        overflow: hidden;

        position: relative;
    }
    &__btn {
        padding: 0.75rem 0.75rem 1rem;
        border: none;
        margin-bottom: -1px;
        border: 1px solid black;
        z-index: 1;

        &.is-active {
            background: white;
            border-bottom-color: transparent;
        }
    }

    &__fiddle-slider {
        position: relative;
        width: 300%;
        display: flex;
    }

    &__fiddle-word,
    &__fiddle-html,
    &__fiddle-output {
        position: relative;
        width: 100%/3;
        flex-grow: 0;
        flex-shrink: 0;
    }
    
    // Fiddle - Word
    // ---------------------------------------------------------
    &__fiddle-word {
        padding: 2rem 1rem;
        background-color: white;

        line-height: 1.2;

        .w__debug {
            display: block !important;
            padding: 0.25rem 0.4rem !important;
            margin-top: 2.5rem !important;
        }

        .copybtn {
            position: absolute;
            top: 1rem;
            right: 1rem;
        }

        th {
            background: #0070c0;
            font-weight: normal;
        }

        caption {
            text-align: left;
            background: #dbdbdb;
        }

        table.theme-stripe tr:nth-child(odd) td {
            background: #dbdbdb;
        }

        tr.theme-subheader td,
        tr.theme-subheader th, 
        td.theme-subheader, 
        th.theme-subheader {
            background: #00b0f0;
        }

        tr.theme-label td,
        tr.theme-label th, 
        td.theme-label, 
        th.theme-label,
        tbody.theme-label {
            background: #dbdbdb;
        }
    }
    
    // Fiddle - HTML
    // ---------------------------------------------------------
    &__fiddle-html {
        font-family: @code-family;
        background: #DDDDDD;

        max-height: 40rem;
        min-height: 100%;
        overflow: auto;
    }

    &__fiddle-html-html,
    &__fiddle-html-less {
        white-space: pre-wrap;
        padding: 2rem 1rem;
    }

    &__fiddle-html-less {
        background: rgb(214, 235, 240);
    }

    // Fiddle - Output
    // ---------------------------------------------------------
    &__iframe {
        width: 100%;
        height: 100%;
        min-height: 20rem;
        background: white;
        border: none;
    }
}