button {
    cursor: pointer;

    display: block;
    padding: @padding;
    &.is-active {
        background-color: gray;
    }

    &.is-disabled {
        background-color: rgb(201, 201, 201);
        color: rgba(0, 0, 0, 0.3);
        pointer-events: none;
    }
}