p code,
li code,
blockquote code {
    background-color: #ebebeb;
    padding: 2px;
    color: #222222;
    display: inline-block;
}

blockquote code {
    font-style: normal;
}

code.console {
    color: #cccccc;
    background-color: #0c0c0c;
    padding: 4px;
}
code.block {
    display: block;
    width: 600px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}