// Base comp view
// --------------

.component {
    width: 100%;

    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    width: 100%;

    &__title {
        width: 100%;
        display: block;
        background-color: rgba(0,0,0,0.15);
        padding: @component-padding/1.5 @component-padding;

        font-size: @component-title-size;
        font-weight: bold;
        font-family: @title-family;
    }

    &__body {
        padding: @component-padding;
        width: 100%;
        display: block;

        border: 1px solid rgba(0,0,0,0.15);
        margin-bottom: 3rem;
    }

    // Component toggle
    // ----------------------------------------
    &__toggle {
        float: right;
        cursor: pointer;
        font-size: 0.82rem;
        filter: brightness(0%);
    }
    &__toggle-plus {display: block;}
    &__toggle-minus {display: none;}
    &.is-active &__toggle-plus {display: none;}
    &.is-active &__toggle-minus {display: block;}
}