.developer {
    &__faqs {
        margin-top: 2rem;
        line-height: 1.5;
    }

    &__faqs-title {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    &__faqs-item {
        padding: 1rem 0;
    }

    &__faqs-item-title {
        font-size: 1em;
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;

        font-weight: bold;
        color: rgb(28, 28, 37);

        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
}