figure {
    display: block;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;

    img {
        border: 1px solid #BBBBBB;
    }
}
figcaption {
    font-style: italic;
    color: #555555;
    margin-top: 1rem;
}