body {
    font-family: @body-family;
    font-size: 16px;
    margin: 0;

    background-color: #e5e1ee;
    line-height: 1.2em;

    -webkit-font-smoothing: antialiased;

    * {
        box-sizing: border-box;
    }

    overflow-x: hidden;
}

p, li {
    line-height: 1.2em;
}

ul, ol {
    padding-left: 1.2em;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    &:last-child {
        margin-bottom: 0;
    }
}

h4 {
    margin-top: 1.5rem;
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

li:not(:first-child),
li ul,
li ol {
    margin-top: 0.5em; //1.2em;
}

p {
    margin-top: 1.2em;
    margin-bottom: 1.2em;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

h1 {
    font-size: 2rem;
    line-height: 1.2em;
}

h3 {
    line-height: 1.2em;
    font-weight: 500;
}

strong {
    //font-weight: 500;
}

blockquote {
    font-style: italic;
    margin: 1rem;
}