.nav {

    display: block;

    position: fixed;
    height: 100%;
    width: @nav-width;
    top: 0;
    left: 0;

    background-color: @nav-color;
    color: @nav-color-inverted;

    padding: @nav-padding*2 @nav-padding @nav-padding*6;
    transition: transform @duration ease;

    @media (max-width: @page-width) {
        transform: translateX(-100%);
    }

    overflow: auto;
    /*&__inner {
        overflow: auto;
    }*/


    // Controls
    // ----------------------------------------------------------
    &__controls {
        padding: 0.5rem;
        background: rgba(255,255,255,0.2);
        border-radius: 0.25rem;

        margin-bottom: 1rem;
    }

    &__controls-label {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &__controls-input {
        margin-right: 0.5rem;
    }

    &__controls-checkbox {
        width: 1.5rem;
        height: 1.5em;

        cursor: pointer;
    }
}

// Indent the main on large devices.
.main {
    transition: margin-left @duration ease;
    margin-left: @nav-width;

    // Hide the nav when screen width too small.
    @media (max-width: @page-width) {
        margin-left: 0;
    }
}