// Colour styles for all the different types of pages
// --------------------------------------------------

.colorStyle(@typeName, @color){

    @t: ~"@{typeName}";

    .--@{t} {

        &.thumb,
        .thumbs__type-title {
            color: @color;
        }

        &.page {
            background-color: @color;
        }
    }
}

.colorStyle("template-common",  #f5f5f5);
.colorStyle("template-uncommon",#edf8f8);
.colorStyle("template-yt",      #eee1e1);
.colorStyle("template-activity",#ece1ee);
.colorStyle("extra",            #fdfae9);
.colorStyle("dev",              white);