// Page
// --------------

.page {

    &__inner {
        display: block;
        max-width: @page-width;
        margin: auto;

        padding: 1rem @page-padding @page-padding @page-padding;
    }

    min-height: 100vh;

    &__header {
        padding: @padding;
        display: flex;
        align-items: center;

        justify-content: space-between;
    }
    
    // Content title
    &__header-title {
        //margin-bottom: 0.5em;
        font-size: 2rem;
        line-height: 1.2em;
    }
    
    // Content type
    &__header-type {
        opacity: 0.4;
        font-style: italic;
        margin-bottom: 0.5rem;
    }

    &__header-info {
        text-align: right;
    }
}