// Table styles
// -----------------------------------------

table {

    // Object properties table
    // Similar to the table used in the HelpersView.
    &.theme-prop {

        background: white;
        text-align: left;
        border-collapse: collapse;

        td, th {
            vertical-align: top;
            padding: 1rem;

            border: 1px solid #d6d6d6;
        }

        td:first-child,
        td:last-child {
            font-family: monospace;
        }
    }
}