:not(.prettyprint) > .tag {
    background-color: rgba(220, 220, 220, 1);
    border: 1px solid rgb(180, 180, 180);
    border-radius: 3px;
    padding: 2px;
    margin: 2px;

    cursor: pointer;
    .u-no-select;
    color: black;

    display: inline-block;

    &.is-active {
        background-color: black;
        color: white;
    }
}