// Page: Tags
// ----------------------------------------

.page-tags {

    min-height: 100vh; // Prevent the page scrolling when the tags are clicked.

    &__results > * {
        display: block;
    }

    &__results-total {
        font-style: italic;
    }

    &__results-thumbs {
        margin-top: @item-margin * 6;
        display: flex;
    }
}