// Term tooltip
// --------------

.term-tooltip {
    text-decoration: underline double;
    color: rgb(53, 38, 139);
    cursor: help;

    &:hover {
        color: rgb(98, 84, 175);
    }
}

.note {
    /*
    padding: 0.5rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    background-color: rgba(0, 140, 255, 0.05);
    border: 1px solid rgba(0, 106, 192, 0.05);
    */
}

.example {
    font-style: italic;
    margin-top: 0.25em;
    margin-bottom: 0.5em;
}