// Thumbnail view
// ----------------------------------------

@thumb-color:           rgb(34, 34, 34);
@thumb-color-inverted:  white;

@thumb-margin:          @item-margin*2;

.thumb {

    cursor: pointer;
    display: block;

    color: @thumb-color-inverted;
    background-color: @thumb-color;
    width: @thumb-size;
    margin: @thumb-margin;

    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2));

    &:hover {
        background-color: lighten(@thumb-color, 8%);
    }

    &__inner {
        display: flex;
        flex-direction: column;
        height: 100%;
        text-decoration: none;
    }

    &__graphic {
        display: block;
        height: @thumb-size/2;

        background-size: cover;
    }

    &__title {
        padding: 5px;
        text-align: center;
        font-size: @thumb-font-size;
        line-height: 1.2em;

        &-inner {
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
        }
        
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        color: white;
    }

    &.is-hidden {
        filter: grayscale(100%) contrast(0.5);
        opacity: 0.25;
    }

    img {
        width: 100%;
    }

    // Hidden thumbnails (list mode)
    // -------------------------------------------------------------------
    .hide-thumbs & {
        width: auto;
        margin-top: 0.125rem;
        margin-bottom: 0.125rem;
    }
    .hide-thumbs &__title {
        font-size: 0.8rem;
    }
    .hide-thumbs &__title-inner {
        text-align: left;
        div {
            display: inline;
        }
    }
    .hide-thumbs &__graphic {
        display: none;
    }
}

.thumbs {
    &__inner {
        
    }

    &__type {
        display: flex;
        flex-direction: column;

        &:not(:first-child) {
            margin-top: @item-padding * 3;
        }
    }

    &__type-title {
        font-size: 1rem;
        margin-bottom: @item-padding/2;
    }

    &__type-title,
    &__type-items {
        display: block;
    }

    &__type-items {
        display: flex;
        margin: -@thumb-margin;
        margin-top: @thumb-margin;
        flex-wrap: wrap;
    }

    // List view
    &-small {
        .thumbs__type-items {
            //display: block;
            .thumb {
                margin: @thumb-margin / 2;
            }

            .thumb__graphic {
                display: none;
            }
        }
    }

    // Hidden thumbnails (list mode)
    // -------------------------------------------------------------------
    .hide-thumbs &__type-items {
        display: grid;
        //grid-template-columns: 50% 50%;
        grid-template-columns: 100%;
    }

    .hide-hyb &__type.--hybrid,
    .hide-hyb &__type.--hybrid-extra,
    .hide-hyb &__type.--hybrid-yt {
        display: none;
    }

    .hide-adapt &__type.--template-common,
    .hide-adapt &__type.--template-uncommon,
    .hide-adapt &__type.--template-activity,
    .hide-adapt &__type.--template-yt {
        display: none;
    }
}