<table class='table--commoncontent'>
  <tr>
    <th>Content type</th>
    <th>How to implement</th>
    <th>Notes</th>
  </tr>
  <tr>
    <td>Paragraphs</td>
    <td>&lt;p&gt;</td>
    <td>All paragraphs must be wrapped in these tags.<br/><strong>Do no use <code>&lt;br&gt;</code> to create paragraph breaks instead!</strong></td>
  </tr>
  <tr>
    <td>Breaks ('Enter'/'Return')</td>
    <td>&lt;br/&gt;</td>
    <td>Should only be used in cases where <code>&lt;p&gt;</code> is not suited.</td>
  </tr>
  <tr>
    <td><strong>Bold text</strong></td>
    <td>&lt;strong&gt;</td>
    <td><strong>Do not use <code>&lt;b&gt;</code></strong></td>
  </tr>
  <tr>
    <td><em>Italic text</em></td>
    <td>&lt;em&gt;</td>
    <td>Stands for <em>em</em>phasis.<br/><strong>Do not use <code>&lt;i&gt;</code></strong></td>
  </tr>
  <tr>
    <td><u>Underlined text</u></td>
    <td>&lt;u&gt;</td>
    <td></td>
  </tr>
  <tr>
    <td>Tables</td>
    <td>&lt;table&gt;,&lt;tr&gt;,&lt;th&gt;,&lt;td&gt;,etc.</td>
    <td>Normal HTML table formatting applies.</td>
  </tr>
  <tr>
    <td>Figure wrappers</td>
    <td>\\{{#figure}},\\{{#figureItem}}</td>
    <td><em>Use these to create decorative layouts in your content.</em><br/>{{#pagelink \"figure\"}}{{/pagelink}}</td>
  </tr>
  <tr>
    <td>Images (and complex diagrams)</td>
    <td>\\{{#img}}</td>
    <td>{{#pagelink \"image\"}}{{/pagelink}}</td>
  </tr>
  <tr>
    <td>Animations (Lottie)</td>
    <td>\\{{#anim}}</td>
    <td>{{#pagelink \"animation\"}}{{/pagelink}}</td>
  </tr>
  <tr>
    <td>Code + console boxes</td>
    <td>\\{{#code}}, \\{{#console}}</td>
    <td>{{#pagelink \"code\"}}{{/pagelink}} - Static, {{#pagelink \"codeboxAnim\"}}{{/pagelink}} - Dynamic</td>
  </tr>
  <tr>
    <td>Inline code / console references</td>
    <td>&lt;code&gt;</td>
    <td>Read more about it here: {{#pagelink \"code\"}}{{/pagelink}}</td>
  </tr>
  <tr>
    <td>Marks (highlights)</td>
    <td>\\{{#mark}}</td>
    <td>{{#pagelink \"mark\"}}{{/pagelink}}, {{#pagelink \"annotation\"}}{{/pagelink}}</td>
  </tr>
  <tr>
    <td>Hyperlinks</td>
    <td>\\{{#hyperlink}}</td>
    <td>{{#pagelink \"hyperlink\"}}{{/pagelink}}</td>
  </tr>
  <tr>
    <td>Download links</td>
    <td>\\{{#download}}</td>
    <td>{{#pagelink \"hyperlink\"}}{{/pagelink}}</td>
  </tr>
  <tr>
    <td>Reference buttons</td>
    <td>\\{{#reference}}</td>
    <td>{{#pagelink \"reference\"}}{{/pagelink}}</td>
  </tr>
  <tr>
    <td>Glossary buttons</td>
    <td>\\{{#glossary}}</td>
    <td>{{#pagelink \"glossary\"}}{{/pagelink}}</td>
  </tr>
  <tr>
    <td>Resource buttons</td>
    <td>\\{{#resource}}</td>
    <td>{{#pagelink \"resource\"}}{{/pagelink}}</td>
  </tr>
  <tr>
    <td>\"Extra\" learning icons</td>
    <td>\\{{#extraLearning}}</td>
    <td>{{#pagelink \"extraLearning\"}}{{/pagelink}}</td>
  </tr>
  <tr>
    <td>Sticky elements</td>
    <td>\\{{#stickyElement}}</td>
    <td>{{#pagelink \"stickyElement\"}}{{/pagelink}}</td>
  </tr>
  <tr>
    <td>*Custom styles for elements*</td>
    <td>Create custom CSS rules and classes for your elements.</td>
    <td>{{#pagelink \"custom\"}}{{/pagelink}}</td>
  </tr>
  <tr>
    <td>*Other*</td>
    <td>Use HTML</td>
    <td>If the content type you want isn't listed here, then please notify an Adapt developer. They will either confirm that HTML is appropriate (and add the content type to this list), or will develop a Helper to accomodate your request.</td>
  </tr>
</table>