// Description component
// --------------------------------

.description {
    &__examples {
        padding: 1rem;
        margin: 3rem 0 0;
        background-color: rgba(0, 140, 255, 0.05);
        border: 1px solid rgba(0, 106, 192, 0.05);
        color: rgb(22, 37, 51);
    }

    h3 {
        margin-top: 3rem;
        margin-bottom: 1em;
        font-size: 1.3rem;
        font-weight: 400;
        position: relative;

        &::before {
            content: "";
            position: absolute;

            border-bottom: 1px solid rgba(0,0,0,0.1);
            top: -1.5rem;
            width: 100%;
        }
    }
}