<div class="page__inner">

    <div class="header">
        <h1>Tags</h1>
		<p><em>Click on the tags to toggle them. Only templates which contain every selected tag will be shown.</em></p>
        <div class="tags-container">
		    
        </div>
    </div>

    <div class="component">
        <div class="component__body page-tags__results">
            <div class="page-tags__results-total">
                
            </div>
            <div class="page-tags__results-thumbs">

            </div>
        </div>
    </div>

    {{! JS appends content here. }}
</div>