<div class="jsonbuilder__prop-inner">
	{{#if _header}}
		<br />{{!-- 
		--}}<span class="jsonbuilder__prop-indents"><span>&Tab;</span>{{#times _indent}}<span>&Tab;</span>{{/times}}</span></span><span class="jsonbuilder__prop-comment jsonbuilder__jsonsynt is-comment">&lt;&lt;&lt;! {{_header}} !&gt;&gt;&gt;</span><br/>{{!-- 
	--}}{{/if}}{{!-- 
	--}}{{~#if _variations~}}
		<span class="jsonbuilder__prop-indents not-copy u-no-select"><span>&Tab;</span>{{#times _indent}}<span>&Tab;</span>{{/times}}</span>{{!-- 
		--}}<div class="jsonbuilder__prop-variations not-copy js-jsonbuilder-prop-variations u-no-select">
			<div class="jsonbuilder__prop-variations-inner">
				{{#each _variations}}
					<div 
						class="jsonbuilder__prop-variations-item js-jsonbuilder-prop-variations-item{{#if _isActive}} is-active{{/if}}" 
						data-index="{{@index}}">
						<div class="jsonbuilder__prop-variations-item-title">{{{./title}}}</div>
						<img src="{{../_assetsPath}}/{{./src}}"/>
					</div>
				{{/each}}
			</div>
			<div class="jsonbuilder__prop-variations-warning">
				Common layouts. Tweak/create new ones if needed.
			</div>
		</div><br class="not-copy"/>
	{{~/if~}}
	
	<span class="jsonbuilder__prop-indents"><span>&Tab;</span>{{#times _indent}}<span>&Tab;</span>{{/times}}</span>{{!--

	--}}{{! Name }}{{!--
	--}}
	{{~#if name}}<div class="jsonbuilder__prop-name{{#if _isOptional}} is-optional{{/if}}{{#if _isNotImplemented}} is-notimplemented{{/if}}{{#if _isError}} is-error{{/if}}">"{{name}}":</div> <span class="jsonbuilder__prop-indents">{{#times _decorativeIndent}}<span>&Tab;</span>{{/times}}</span>{{/if~}}{{!--

	--}}{{! Value }}{{!--
	--}}<div class="jsonbuilder__prop-value-container is-{{_type}}">{{!-- 
		--}}<span class="jsonbuilder__prop-value-symbol is-open is-{{_type}}">
			{{~#ifEquals _type "array"}}[{{/ifEquals~}}
			{{~#ifEquals _type "object"}}{ {{/ifEquals~}}
			{{~#ifEquals _type "string"}}"{{/ifEquals~}}
			{{~#ifEquals _type "longstring"}}<<<"<br/>{{/ifEquals~}}
			{{~#ifEquals _type "prestring"}}&lt;&lt;&lt;P<br/>{{/ifEquals~}}
		</span>{{!-- 
		--}}<div class="jsonbuilder__prop-value is-{{_type}}">{{!-- 
			--}}{{~#ifEquals _type "longstring"~}}
					{{~#if value~}}
						<span style="display: flex;">{{!--
							--}}<span class="jsonbuilder__prop-indents" style="flex-grow: 0"><span>&Tab;</span>{{#times _indent}}<span>&Tab;</span>{{/times}}<span>&Tab;</span><span>{{value}}</span></span>{{!--
						--}}</span>
					{{~/if~}}
				{{~else~}}
					{{{value}}}
				{{~/ifEquals~}}{{!--
		--}}</div>{{!--
		--}}<span class="jsonbuilder__prop-value-symbol is-close is-{{_type}}">
			{{~#ifEquals _type "array"}}<span class="jsonbuilder__prop-indents"><span>&Tab;</span>{{#times _indent}}<span>&Tab;</span>{{/times}}</span>]{{/ifEquals~}}
			{{~#ifEquals _type "object"}}<span class="jsonbuilder__prop-indents"><span>&Tab;</span>{{#times _indent}}<span>&Tab;</span>{{/times}}</span>}{{/ifEquals~}}
			{{~#ifEquals _type "string"}}"{{/ifEquals~}}
			{{~#ifEquals _type "longstring"}}<span class="jsonbuilder__prop-indents"><span>&Tab;</span>{{#times _indent}}<span>&Tab;</span>{{/times}}</span>">>>{{/ifEquals~}}
			{{~#ifEquals _type "prestring"}}<br/><span class="jsonbuilder__prop-indents"><span>&Tab;</span>{{#times _indent}}<span>&Tab;</span>{{/times}}</span>P>>>{{/ifEquals~}}
		</span>{{!--
	--}}</div>{{!--

	--}}{{~#unless _isLast}}<span class="jsonbuilder__prop-comma">,</span>{{/unless}}{{!--
	--}}{{#ifAny _params _comment}}<span class="jsonbuilder__prop-indents">{{#times _decorativeIndentPost}}<span>&Tab;</span>{{/times}}</span>{{/ifAny}}{{!--
	--}}{{#if _comment}}{{!-- 
		--}}<span class="jsonbuilder__prop-comment jsonbuilder__jsonsynt is-comment"> &lt;&lt;&lt;! {{_comment}} !&gt;&gt;&gt;</span>{{!-- 
	--}}{{/if~}}{{!--
	--}}{{#if _params}}{{!-- 
		--}}<span class="jsonbuilder__prop-params jsonbuilder__jsonsynt is-params" title="These are the possible values for this property."> <<<@ {{_params}} @>>></span>{{!-- 
	--}}{{/if~}}
</div>