<table class="jsonbuilder__helper-properties-list-items-container" style="border-collapse: collapse;">
	<th>Name</th>
	<th>Description</th>
	<th>Type</th>
{{#each @this}}
	<tr class="jsonbuilder__helper-properties-list-item">
		<td class="jsonbuilder__helper-properties-list-title {{#if _isOptional}}is-optional{{else}}is-required{{/if}}" {{#if _isOptional}}title="Optional"{{/if}}>
			{{name}}
		</td>
		<td class="jsonbuilder__helper-properties-list-body">
			{{{_desc}}}
		</td>
		<td>
			{{#if type}}{{type}}{{else}}String{{/if}}
		</td>
	</tr>
{{/each}}
</table>