<div class="jsonbuilder__inner">
	<div class="jsonbuilder__json is-helper" style="padding: 0.5rem 0;">
		<div class="jsonbuilder__json-inner">
			
			<div 
				class="is-inline"
				style='color: #a3780c; font-weight: bold;'>&lcub;&lcub;{{#unless content}}&lcub;{{/unless}}</div>{{!
			}}<div
				class="is-inline"
				style='color: #af00db; font-weight: bold;'>{{#if content}}#{{/if}}{{name}}</div>{{!
			}}<div
				class="is-inline jsonbuilder__helper-properties"></div>{{!
			}}<div
				class="is-inline"
				style='color: #a3780c; font-weight: bold;'>&rcub;&rcub;{{#unless content}}&rcub;{{/unless}}</div>{{!
			}}<div
				class="jsonbuilder__helper-content{{#unless _isBlock}} is-inline{{else}} is-block{{/unless}}" {{#if _isBlock}}
				style="padding-left: 2rem; padding-top: 0.5rem; padding-bottom: 0.5rem;"{{/if}}>{{{content}}}</div>
			{{~#if content~}}
				<div class="is-inline" style='color: #a3780c; font-weight: bold;'>&lcub;&lcub;</div>{{!
				}}<div class="is-inline" style='color: #af00db; font-weight: bold;'>/{{name}}</div>{{!
				}}<div class="is-inline" style='color: #a3780c; font-weight: bold;'>&rcub;&rcub;</div>
			{{~/if~}}
		</div>
	</div>
	<div class="jsonbuilder__controls">
		
	</div>
</div>