<div class="jsonbuilder__inner">
	{{! Header}}
	<div class="jsonbuilder__header is-{{_type}}">
		<div class="jsonbuilder__header-title-container">
			<div class="jsonbuilder__header-title">
				{{~#ifEquals _type "block"}}Block(s){{/ifEquals}}
				{{~#ifEquals _type "component"}}Component(s){{/ifEquals}}
				{{~#ifEquals _type "extra"}}<span title="This is JSONSYNT which needs to be added to the JSONSYNT of an existing component/block."><sup>(?)</sup>JSONSYNT extra(s)</span>{{/ifEquals}}
				{{~#ifEquals _type "html"}}Html{{/ifEquals}}
				{{~#ifEquals _type "helper"}}Helper{{/ifEquals}}
				{{~#ifEquals _type "other"}}{{_title}}{{/ifEquals}}
			</div>
			{{#if _desc}}
			<div class="jsonbuilder__header-desc">
				{{~#ifEquals _type "other"}}{{{compile _desc}}}{{~else~}}
				<strong>Variant: </strong> {{{compile _desc}}}{{/ifEquals}}
			</div>
			{{/if}}
		</div>
		<div class="jsonbuilder__header-controls">
			
		</div>
	</div>
	{{! Main}}
	<div class="jsonbuilder__json is-{{_type}}">
		<div class="jsonbuilder__json-inner">
			{{~#ifEquals _type "helper"}}
				<div class="jsonbuilder__title" title="Copy one of these to get the most basic version of the helper.">
					Template(s):
					<hr />
				</div>
			{{/ifEquals}}
			<div class="jsonbuilder__properties">
				
			</div>
			{{~#ifEquals _type "helper"}}
				<br />
				<br />
				<div class="jsonbuilder__title" title="Here are all the possible properties that the helper supports. Feel free to add in any number of the optional ones if you need to.">
					Properties:
					<hr />
				</div>
				<div class="jsonbuilder__helper-properties-list"></div>
			{{/ifEquals}}
			{{#if _example}}
			{{~#ifEquals _type "other"}}{{else}}
			<br />
				<br />
			{{/ifEquals}}
			<div class="jsonbuilder__title" title="Please read the following for imporant instructions and/or examples on implementing this.">
					Description:
					<hr />
			</div>
			<div class="jsonbuilder__example">
				<div class="jsonbuilder__example-inner">
{{{compile _example}}}
				</div>
			</div>
			{{/if}}
		</div>
	</div>
	{{! Copy button}}
	<div class="jsonbuilder__controls">
		
	</div>
</div>