<div class="jsonbuilder__prop-inner is-inline">{{!--

	--}}{{! Name }}{{!--
	--}}{{#if name}}<span>&nbsp;</span><div class="jsonbuilder__prop-name{{#if _isOptional}} is-optional{{/if}}{{#if _isNotImplemented}} is-notimplemented{{/if}}{{#if _isError}} is-error{{/if}}">{{name}}=</div>{{/if}}{{!--

	--}}{{! Value }}{{!--
	--}}<div class="jsonbuilder__prop-value-container is-{{_type}}">{{!-- 
		--}}<span class="jsonbuilder__prop-value-symbol is-open is-{{_type}}">
			{{~#ifEquals _type "string"}}"{{/ifEquals~}}
		</span>{{!-- 
		--}}<div class="jsonbuilder__prop-value is-{{_type}}">{{!-- 
			--}}{{~#ifEquals _type "longstring"}}{{!--
				--}}<span style="display: flex;">
						<span class="jsonbuilder__prop-indents" style="flex-grow: 0"><span>&Tab;</span>{{#times _indent}}<span>&Tab;</span>{{/times}}<span>&Tab;</span></span>
						<span>{{value}}</span>
					</span>{{!-- 
			--}}{{else}}{{{value}}}{{/ifEquals~}}{{!--
		--}}</div>{{!--
		--}}<span class="jsonbuilder__prop-value-symbol is-close is-{{_type}}">
			{{~#ifEquals _type "string"}}"{{/ifEquals~}}
		</span>{{!--
	--}}</div>
</div>