<div class="jsonbuilder__group-inner">

	<div class="jsonbuilder__group-header is-{{_type}}">
		<div class="jsonbuilder__group-title-container">
			<div class="jsonbuilder__group-title">
				{{~#ifEquals _type "block"}}Block{{/ifEquals}}
				{{~#ifEquals _type "component"}}Component{{/ifEquals}}
				{{~#ifEquals _type "html"}}Html{{/ifEquals}}
				{{~#ifEquals _type "helper"}}Helper{{/ifEquals}}
			</div>
			{{#if _desc}}
			<div class="jsonbuilder__group-desc">
				<strong>Variant: </strong> {{{compile _desc}}}
			</div>
			{{/if}}
		</div>
		<div class="jsonbuilder__group-controls">
			
		</div>
	</div>
	<div class="jsonbuilder__group-content is-{{_type}}">
		
	</div>

</div>