// MS Word builder app for IDers
// -----------------------------

/**
 * ODD CSS:
 * --------
 * - CSS has been deliberately formatted to ensure the element gets copied with correct formatting into Word.
 * - If a property has "!important", then it will be ignored when pasted into Word.
 *   This can be used deliberately to prevent certain styles carrying over.
 */

@wb-family: Arial, Helvetica, sans-serif;
@wb-padding: 2px;
@wb-item-color: rgb(188, 255, 255);
@wb-green-color: #c5ffc5;

.component-word .component__body {
    background-color: white;
}

.wordbuilder {

    font-size: 12.1pt;
    font-family: @wb-family;

    word-break: break-word;

    // Helpers
    // ----------------------------
    .w__yellow {
        background-color: yellow;
        padding: @wb-padding * 2;
        font-weight: bold;

        display: inline-block;
    }

    .w__arrow {
        font-family: monospace;
    }

    .w__green {
        background-color: @wb-green-color;
        padding: @wb-padding;

        display: block;
    }

    .w__instruction {
        color: #0000ff;
        font-weight: bold;
    }

    .w__debug {

        color: purple;
        background-color: lavender;
        padding: @wb-padding;
        font-weight: normal;

        //display: inline-block;
        display: inline;

        vertical-align: text-top;

        // Empty .w__debug elements can be used to create breaks that won't be copied.
        &:empty {
            display: block;
            opacity: 0;
            &::after {
                content: "\00a0";
            }
        }
    }

    // Debug
    // -----------------------------

    // Controls
    // -----------------------------
    &__controls {
        float: right;
        z-index: 2;
        position: relative;
    }

    // Header
    // -----------------------------
    &__header {

    }

    &__header-item {
        padding: @wb-padding;
        margin: 0px 0px 0px 0px;

        &--sn       {background-color: #01ff01;}
        &--from     {background-color: #e5b8b7;}
        &--tn       {background-color: #ff9901;}
        &--notes    {background-color: #cc99ff;}
        &--wn       {background-color: #01b0f0;}
        &--map      {background-color: #ff0000;}
    }

    // Body
    // ----------------------------
    &__comment {
        display: block !important;
        margin-top: @body-text-margin;
        margin-bottom: @body-text-margin;

        padding: @wb-padding * 8 !important;
        border: 1px mix(purple, lavender, 15%) solid;

        font-style: italic;
    }

    &__title,
    &__body,
    &__instruction,
    &__content {
        margin-bottom: @body-text-margin;
        display: inline-block;
    }

    &__body {
        width: 100%;
    }

    code {
        font-size: 12.1pt;
        font-family: 'Courier', monospace, sans-serif; // Deliberately use Courier to make it stand out more in the ID.
    }

    // Basic table styling.
    table {
        font-family: @wb-family; // Needs to be re-applied (font doesn't carry over when pasted into Word otherwise).
        border-collapse: collapse;
        table-layout: fixed;
        background-color: white;

        td, th {
            border: 1px solid black;
            padding: @item-padding / 2;
            vertical-align: top;
        }
    }

    mark, .mark {
        background-color: magenta;
    }

    // List styling
    ul {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 1.2em;
    }

    // Items
    // ----------------------------
    &__item {
        position: relative;
        background-color: @wb-item-color;
    }

    &__item.is-green {
        background-color: @wb-green-color;
    }
    &__item.is-white {
        background-color: transparent;
    }

    &__item-title {
        font-weight: bold;
    }

    &__item-title,
    &__item-body,
    &__item-instruction {
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__item-controls {
        position: absolute;
        right: -3.5rem;
        top: 0;

        z-index: 1;
    }

    /**
     * ODD CSS:
     * --------
     * In order to get a background colour behind ONLY the text (and not the entire item) when pasted into Word,
     * each of the following elements needs to be inline-block with <br/> between them.
     */
    &__item-title,
    &__item-body,
    &__item-instruction {
        //background-color: @wb-item-color;
        display: inline-block;
    }
}