<div class="developer__inner">
    
    <div class="developer__header">
        {{{compile body}}}
        <br />
    </div>

    <div class="developer__widget">
        {{! jsonBuilder view(s) appended into here.}}
    </div>

    {{#if ./faqs}}
    <div class="developer__faqs">
        <div class="developer__faqs-title">FAQs</div>
        {{#each ./faqs}}
            <div class="developer__faqs-items">
                <div class="developer__faqs-item">
                    <div class="developer__faqs-item-title">
                        “{{{compile ./title}}}”
                    </div>
                    <div class="developer__faqs-item-body">
                        {{{compile ./body}}}
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    {{/if}}
</div>