/**
 * Custom LESS CSS
 * ---------------
 * Add any styles & overrides that this specific project will use.
 * If you find yourself needing these styles across multiple projects; request for a DD Adapt Framework developer to implement them in the 
 * adapt-didasko theme for you.
 *
 * You are not limited to creating styles in this file. You can add as many *.less files within this directory as you require.
 * 
 * BE SURE TO READ THE INCLUDED README.txt BEFORE ADDING STYLES.
 */

/* EXAMPLE (remove when not needed) */

// Custom underline
// ---------------------------------------------
// Some text needs to be made red, italic, and underlined.
.c-underline {
	color: red;
	text-decoration: underline;
	font-style: italic;
}

/************************************/

.c-stringtable {

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
	grid-row-gap: @item-padding / 2;
	grid-column-gap: 1px;

	&__item {
		display: flex;
		flex-direction: column;
		align-items: stretch;

		box-shadow: -1px 0px @blue,
					1px 0px @blue,
					0px -1px @blue,
					0px 1px @blue;

		&-idx,
		&-char {
			font-family: @code-family;
			padding: @item-padding / 4;
			text-align: center;
		}

		&-idx {
			background-color: @item-color;
		}

		&-char {
			color: mix(#080, black, 50%); // Same color as the syntax highlighting applies to strings in the codebox.
			background-color: @font-color-inverted;
			white-space: pre-wrap; // Allow for " " to take up space.
			height: 100%;
		}

		// Marked
		// ---------------------------
		&.is-marked {
			box-shadow: -1px 0px @annotation-mark-border-color,
					1px 0px @annotation-mark-border-color,
					0px -1px @annotation-mark-border-color,
					0px 1px @annotation-mark-border-color;
			z-index: 1;
		}
		&.is-marked &-idx {
			background-color: @annotation-mark-color;
		}
		&.is-marked &-char {
			background-color: lighten(@annotation-mark-color, 3%);
		}

		// Fades
		// ---------------------------
		&.is-faded {
			filter: grayscale(1) contrast(1);
			opacity: 1;
		}

		&.is-faded &-idx {
			background-color: darken(@item-color, 15%);
			color: fade(@font-color, 50%);
		}
		&.is-faded &-char {
			background-color: darken(@font-color-inverted, 15%);
			color: fade(mix(#080, black, 50%), 50%);
		}
	}
}

// b-32
.c-formattable {
	th:first-child {
		width: 10rem;
	}
	td:first-child {
		font-family: @code-family;
	}
}

// b-4
// -------------------------------------
.c-b4-table-1 {

	th > span {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	td, th {
		border-left: @table-border-width solid desaturate(@table-header-color, 100%);
		border-right: @table-border-width solid desaturate(@table-header-color, 100%);
	}

	td {
		vertical-align: top;
	}

	// Rotate the hue of the default table colours to match the validation states.
	th.is-valid {
		background: hsl(hue(@validation-success), saturation(@table-header-color), lightness(@table-header-color));
	}
	th.is-invalid {
		background: hsl(hue(@validation-error), saturation(@table-header-color), lightness(@table-header-color));
	}

	td.is-valid {
		&, code {
			background: hsl(hue(@validation-success), saturation(@table-color), lightness(@table-color));
		}
	}
	td.is-invalid {
		&, code {
			background: hsl(hue(@validation-error), saturation(@table-color), lightness(@table-color));
		}
	}

	code {
		display: block;
	}
}
.c-keywordtable {

	width: 100%;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
	
	grid-row-gap: 0rem;
	grid-column-gap: @item-margin;

	border: @codebox-border-width solid @codebox-border-color;
	background: @codebox-color;

	padding: @item-padding;

	/*grid-row-gap: @item-padding / 2;
	grid-column-gap: 1px;*/
}

// b-18
// ---------------------------------
.c-b18-math .figure__text-inner {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-column-gap: @item-margin * 2;
	grid-row-gap: @item-margin * 2;
}

// b-5
// ---------------------------------
.c-b5 {
	// Stylize the items to look like code.
	.finder__items-container {
		background-color: @codebox-color;
	}

	.finder__item {
		font-family: @code-family;
	}
}