// Modularity component
// --------------------

.modularity {

    &__header-title {
        font-size: @sub-component-title-size;
        margin-top: @body-text-margin;
        margin-bottom: @body-text-margin;
    }

    // Thumbs
    // ----------------------
    .thumbs__type {
        margin-top: 1rem !important;
    }
    .thumb {
        //width: @thumb-size/2;
        margin: 0.75rem 0rem;
    }
    .thumb__graphic {
        //height: @thumb-size/4;
    }
    .thumbs__type-title {
        color: black !important;
        font-size: 0.8rem;
    }
    .thumb__title {
        //display: none;
    }
}