// JSON builder app for developers
// -------------------------------

.copybtn {

    font-size: 1.5rem;
    cursor: pointer;

    &:hover {
        opacity: 0.75;
    }

    &.is-copyall {
        filter: hue-rotate(240deg);
    }
}

// Apply a temporary background color to the element that will be copied when the copy button is moused over.
.is-copybtn-target {
    position: relative;
    z-index: 0;
    padding-right: 3.5rem;

    &.is-hover::before {
        content: "";
        background-color: fade(#bb9167, 10%);
        position: absolute;
        top: -5px;
        left: -5px;
        right: -5px;
        bottom: -5px;
        border: 1px solid #bb9167;
        z-index: -1;
        pointer-events: none;
    }

    &.is-copyall.is-hover::before {
        filter: hue-rotate(240deg);
    }
}