<div class="mc__inner mc-toc__inner">
    
    <div class="mc-toc__list" data-scroll="auto">
        <div class="mc-toc__list-inner">

            {{#each ./_items}}

                {{#if ./heading}}
                    <div class="mc__item mc-toc__list-item mc-toc__list-heading">
                        {{./heading}}
                    </div> 
                {{/if}}

                <div 
                    class="mc__item mc-toc__list-item js-mc-toc-list-item{{#if ./_isActive}} is-active{{/if}}" 
                    role="button"
                    data-index="{{./_index}}">
                    
                    <div class="mc-toc__list-item-num">
                        {{./num}}
                    </div>
                    <div class="mc-toc__list-item-title">
                        {{./title}}
                    </div>
                    {{#if ./_icon}}
                    <div class="mc-toc__list-item-icon">
                        <span class="icon {{./_icon}}"></span>
                    </div>
                    {{/if}}
                </div>
            {{/each}}
        </div>
    </div>

    <div class="mc-toc__preview">
        <div class="mc-toc__preview-inner">

            {{#each ./_items}}
                <div 
                    class="mc-toc__preview-item js-mc-toc-preview-item"
                    data-index="{{./_index}}">
                    
                    <div class="mc-toc__preview-item-header">
                        <div class="mc-toc__preview-item-title">
                            <div class="mc-toc__preview-item-title-inner">
                                {{./num}} {{./title}}
                            </div>
                        </div>
                        {{#if ./_icon}}
                        <div class="mc-toc__preview-item-icon">
                            <span class="icon {{./_icon}}"></span>
                        </div>
                        {{/if}}
                    </div>

                    <div class="mc-toc__preview-item-graphic">
                        {{!-- Causes too many requests on page load! Images will be appended using JavaScript to fix this. --}}
                        {{!--
                        <img 
                            class="mc-toc__preview-item-img" 
                            src="{{./previewSrc}}"
                            onerror="">
                        --}}
                        <img 
                            class="mc-toc__preview-item-img js-mc-toc-preview-img" 
                            data-index="{{./_index}}"
                            src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" 
                            data-src="{{./previewSrc}}" {{! <-- Stored until the image becomes viewed. }}
                            onerror="" />
                    </div>
                </div>
            {{/each}}

        </div>
    </div>

</div>