<div class="preview__inner">

    <div class="preview__controls">
        <div class="preview__controls-inner">

            <div class="preview__controls-example">
                <button class="preview__controls-btn js-preview-example-prev">&lt;</button>
                <select class="preview__controls-select js-preview-example-select">
                    {{#each _examples}}
                        <option value="{{@index}}">{{!--{{_url}} - --}}{{title}}</option>
                    {{/each}}
                </select>
                <button class="preview__controls-btn js-preview-example-next">&gt;</button>
            </div>

            <div class="preview__controls-screensize">
                <input type="radio" class="preview__controls-radio js-preview-screensize-radio js-preview-screensize-radio-phone" id="preview__controls-radio-screen-1" name="preview__controls-radio-screen" value="phone">
                <label class="preview__controls-radio-label" for="preview__controls-radio-screen-1" title="Show phone layout">📱</label>

                {{!<input type="radio" selected class="preview__controls-radio js-preview-screensize-radio js-preview-screensize-radio-tablet" id="preview__controls-radio-screen-2" name="preview__controls-radio-screen" value="tablet">
                <label class="preview__controls-radio-label" for="preview__controls-radio-screen-2" title="Show tablet layout">💻</label>!}}

                <input type="radio" selected class="preview__controls-radio js-preview-screensize-radio js-preview-screensize-radio-desktop" id="preview__controls-radio-screen-3" name="preview__controls-radio-screen" value="desktop">
                <label class="preview__controls-radio-label" for="preview__controls-radio-screen-3" title="Show desktop layout">🖥️</label>
            </div>
        </div>
    </div>

    <div class="preview__iframe-container js-preview-iframe-container">
        <iframe 
            class="preview__iframe js-preview-iframe" 
            sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox allow-downloads" 
            src=""></iframe>
    </div>

    {{!--<div class="preview__graphic">
        <div class="preview__graphic-inner">
            <div class="preview__graphic-img-container">
                <div class="preview__graphic-img js-graphic-img"></div>
                <div class="preview__graphic-content">
                    <div class="preview__graphic-title js-graphic-title"></div>
                    <div class="preview__graphic-body js-graphic-body"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="preview__thumbs">
        <div class="preview__thumbs-inner">
            <div class="preview__thumbs-grid">
                {{#each _items}}
                    <div class="preview__thumbs-item js-preview-thumb" data-index="{{@index}}">
                        <div class="preview__thumbs-item-inner">
                            <div class="preview__thumbs-img-container">
                                <div class="preview__thumbs-item-img" style="background-image: url({{../assetsURL}}{{_src}})"></div>
                                <div class="preview__thumbs-item-title">{{title}}</div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>--}}
</div>