<div class="modularity__inner">

    <div class="modularity__body">
        {{{compile body}}}
    </div>

    <br/>
    
    <div class="modularity__children">
        <div class="modularity__header modularity__children-header">
            <div class="modularity__header-title" title="These modules are allowed inside the main content of the template (usually, the reveals). Additional templates may be used in the standup area. Joi help me describe this please. Do I make a seperate section in here for the standup and one for the reveals?">Children(?)</div>
            {{!<div class="modularity__header-body">The following children can be <em>nested</em> inside of this content's items:</div>}}
        </div>
        <div class="modularity__children-items">
            <p><em style="opacity: 0.75;">You cannot nest any child modules inside this template.</em></p>
        </div>
    </div>

    <br/>

    <div class="modularity__parents">
        <div class="modularity__header modularity__parents-header">
            <div class="modularity__header-title" title="This template's main content, minus its standup, can be used inside of these modules.">Parents(?)</div>
            {{!<div class="modularity__header-body">This content can be <em>nested</em> inside of the following parents:</div>}}
        </div>
        <div class="modularity__parents-items">
            <p><em style="opacity: 0.75;">This template cannot be nested into others.</em></p>
        </div>
    </div>

    <br />

    <p style="color: red; font-size: 0.5rem; font-style: italic">Joi please help me figure this one. Basically, I'm trying to explain that when you wanna cram template A into template B, you don't NEED to include its standup text and title, you can just take the main widget. Furthermore, the Children below refer to modules you can cram inside of the REVEALS of the templates, but then there's other stuff you can shove into their standup that you cant put in the reveals and vice versa dajsdkbvdsgvhjsvj ghsckwebsgcfvjagshfkgwjncbdjhfcgvewbcjh sgvfjrjbcwekeafhivgbkhrjshvbdjfhsgdnhcjksdhfvesbkgshncslgbhgvksdnvjhnldsbvkfdnkhvjldfbkvjfdhgnljdsnbkhfgjelnfkbdfhgdnsjasdf sadasddsa https://www.youtube.com/watch?v=xFDldk9D_Qc https://www.youtube.com/watch?v=xFDldk9D_Qc https://www.youtube.com/watch?v=xFDldk9D_Qc.</p>
</div>