<div class="page__inner">

    <div class="header">
        <h1>{{{name}}}</h1>
    </div>

    <div class="component">
        <div class="component__body">
            {{{compile body}}}
        </div>
    </div>

    {{! JS appends content here. }}
</div>