<div class="fiddle__inner">

    {{{compile ./body}}}

    <div class="fiddle__widget">
        
        {{#each ./_items}}
            <hr/>

            <div 
                class="fiddle__item js-fiddle-item"
                data-index="{{@index}}">
                <div class="fiddle__item-title">{{{./title}}}</div>
                <div class="fiddle__item-body">{{{compile ./body}}}</div>

                {{#if ./_word}}
                <div class="fiddle__fiddle">
                    <div class="fiddle__fiddle-column">
                        <div class="fiddle__fiddle-column-controls">
                            <button class="fiddle__btn js-fiddle-btn js-fiddle-word-btn is-active">Word</button>
                            <button class="fiddle__btn js-fiddle-btn js-fiddle-html-btn">HTML</button>
                            <button class="fiddle__btn js-fiddle-btn js-fiddle-output-btn">Output</button>
                        </div>
                        <div class="fiddle__fiddle-column-content">
                            <div class="fiddle__fiddle-slider js-fiddle-slider">

                                <div class="fiddle__fiddle-word wordbuilder js-fiddle-word">
                                    <div class="fiddle__fiddle-word-inner js-fiddle-word-inner">
                                        {{{compile ./_word.body}}}
                                        
                                        {{#if ./_word.comments}}
                                            {{#w-debug}}
                                            <p><strong>Tips:</strong></p>
                                            <ul>
                                                {{#each ./_word.comments}}
                                                    <li>{{{compile @this}}}</li>
                                                {{/each}}
                                            </ul>
                                            {{/w-debug}}
                                        {{/if}}
                                    </div>
                                </div>

                                <div class="fiddle__fiddle-html">
                                    <div class="fiddle__fiddle-html-html js-fiddle-html">{{{./_html.body}}}</div>
                                    {{#if ./_html.less}}<div class="fiddle__fiddle-html-less js-fiddle-less">{{{./_html.less}}}</div>{{/if}}
                                </div>

                                <div class="fiddle__fiddle-output">
                                    <iframe 
                                        class="fiddle__iframe js-fiddle-iframe" 
                                        sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox allow-downloads" 
                                        src=""></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/if}}
            </div>
        {{/each}}

    </div>

</div>