.table-modularity {

    width: 100%;

    background-color: rgba(255,255,255,0.5);
    td, th {
        padding: @padding;
    }

    th {
        color: white;
        text-align: left;
        width: 100px;

        & > div {
            display: flex;
            justify-content: space-between;
            align-items: center;

            & > span:first-child {
                font-size: 1.5em;
                font-weight: normal;
            }
        }
    }

    &__row {
        
        &.--green {
            th {background-color: rgb(6, 97, 6);}
            td {background-color: rgb(188, 238, 188);}
        }

        &.--red {
            th {background-color: rgb(97, 6, 6);}
            td {background-color: rgb(238, 188, 188);}
        }
    }
}

.doc {
    background-color: white;
    display: block;

    padding: @padding;
    margin: -@padding;
    margin-bottom: 0;

    &__rainbow {
        p {
            display: block;
            padding: @padding/4;
            margin: 0;

            &:nth-child(1) {background: #01ff01;}
            &:nth-child(2) {background: #e5b8b7;}
            &:nth-child(3) {background: #ff9901;}
            &:nth-child(4) {background: #cc99ff;}
            &:nth-child(5) {background: #01b0f0;}
        }
    }
}

table.table--commoncontent 
{
    border-collapse: collapse;

    background-color: white;
    tr:nth-child(odd) {
        background-color: rgb(243, 243, 243);
    }

    th {
        background-color: rgb(184, 184, 184);
    }

    td, th {
        padding: 1rem 1.5rem;
    }

    td:nth-child(1) {
        width: 25%;
    }
    td:nth-child(2) {
        font-family: monospace;
    }
    td:nth-child(3) {
        width: 45%;
    }
}

.tab {
    tab-size: 4;
}


.hyb-grid {

    background: white;
    font-size: 2rem;
    font-weight: bold;

    font-family: monospace;

    width: 15rem;

    td {
        width: 33.3%;
        height: 5rem;

        text-align: center;

        border: 1px solid black;
    }

    &__s {
        background: rgb(255, 249, 197);
    }

    &__w {
        background: rgb(169, 231, 255);
    }

    &__x {
        background: rgb(241, 169, 255);
    }

    &__a {
        background: rgb(147, 245, 144);
    }
}

.hyb-grid-table {
    width: 100%;

    & > tbody > tr > td:last-child {
        padding: 1rem;
        width: 100%;
        line-height: 0;

        img {
            background: white;
            border: 1px solid black;
        }
    }
}


// JSONSYNT _grid._areas
// ---------------------------------------------------
// This 2D array has modified styles to have it look like a 3x3 grid.
.jsonbuilder__prop[data-fullname$="_grid._areas."][data-name="_areas-child"] {
    white-space: nowrap;

    .is-close .jsonbuilder__prop-indents {
        display: none;
    }
}
.jsonbuilder__prop[data-fullname$="_grid._areas."][data-name="-child"] {
    
    &, * {
        display: contents;
    }
    
    .jsonbuilder__prop-indents > span:not(:nth-child(-n+3)),
    &:first-child .jsonbuilder__prop-indents > span:not(:nth-child(-n+1)) {
        display: none;
    }
}


.table--styles {
    td:nth-child(1),
    td:nth-child(2) {
        font-family: monospace;
    }
}