// JSON builder app for developers
// -------------------------------

@required-color: #000077;
@optional-color: #42705e;
@notimplemented-color: #8f5454;

.jsonbuilder {

    background-color: white;

    white-space-collapsing: discard;

    &:not(:last-child) {
        margin-bottom: @item-padding;
    }

    &__inner {
        position: relative;
    }

    &__controls {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    &__title {
        font-family: @body-family;
        margin-bottom: 1rem;
        font-weight: 500;

        hr {
            border-width: 2px;
            border-style: groove;
        }
    }

    // JSON
    // ---------------------------------------
    &__json {
        /*tab-size: 4;
        white-space: pre;*/

        font-family: monospace;
        padding: @item-padding;
        z-index: 1;
    }

    // Properties
    // ----------------------------------------
    &__prop {

        // Advanced properties should have a slight background.
        &.is-advanced {

            .jsonbuilder__prop-name,
            .jsonbuilder__prop-indents:not(:first-child),
            .jsonbuilder__prop-value-container {

                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    background: rgb(221, 221, 221);
                    inset: -1px -5px;
                    z-index: -1;
                }
            }
        }
    }

    // Advanced: when the text is copied, the "is-advanced" elements are removed.
    // Hide the comma element of the remaining props if they're the last child.
    &__prop:last-child > * > &__prop-comma {
        display: none;
    }

    &__prop-name {
        position: relative;
        display: inline-block;
        color: @required-color;

        &:hover {
            color: #008da0;
            text-decoration: double;
            cursor: help;
        }

        &.is-optional {
            color: @optional-color;

            &:hover {
                color:lighten(@optional-color, 10%);
            }
        }

        &.is-notimplemented {
            color: @notimplemented-color;
            text-decoration: line-through;

            &:hover {
                color:lighten(@notimplemented-color, 10%);
            }
        }

        &.is-error {
            color: red;
            font-weight: bold !important;
            text-decoration: underline !important;
            font-style: italic !important;
        }
    }

    &__prop-indents {
        tab-size: 4;
        white-space: pre;
    }

    // Property variations
    // ----------------------------------------
    &__prop-variations {
        display: inline-block;
        padding: 2rem 0 1.5rem;
    }

    &__prop-variations-inner {
        display: flex;

        gap: 0.5rem;
        flex-wrap: wrap;
    }

    &__prop-variations-warning {
        margin-top: 0.5rem;
        font-size: 0.75rem;
        color: rgb(214, 146, 0);
        line-height: 1.2;
        font-style: italic;

        position: absolute;
        bottom: 0.25rem;
        right: 0.25rem;
    }

    &__prop-variations-item-title {
        position: absolute;
        left: 0;
        bottom: 100%;
        font-size: 0.625rem;
        margin-bottom: 0.33rem;
        font-style: italic;
        width: 100%;
        text-align: right;
        line-height: 1;
    }

    &__prop-variations-item {
        position: relative;
        width: 9rem;
        border: 1px solid rgb(163, 163, 163);
        cursor: pointer;

        background: white;

        line-height: 0;

        &.is-active {
            &::before {
                content: "";
                inset: -4px;
                position: absolute;

                border: 4px orange solid;
            }
        }
    }

    &__prop.has-variations {
        border: 2px dotted rgba(255, 166, 0, 0.5);
        position: relative;

        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    // Property values
    // ----------------------------------------
    &__prop-value-container {

        &.is-string {
            color: #b81515;
        }

        &.is-number {
            color: #000000;
        }

        &.is-boolean {
            color: #000000;
        }
    }

    &__prop-value-symbol {
        &.is-longstring,
        &.is-prestring {
            color: #9c0b0b;
            font-weight: bold;
            font-style: italic;
        }
    }

    &__prop {
        display: block;

        &-value-container,
        &-value {
            display: inline;
        }

        &-value.is-longstring,
        &-value.is-prestring {
            white-space: pre-wrap;
        }

        &-value.is-prestring {
            background-color: rgb(235, 235, 235);
            display: inline-block;
            padding: 0.1rem;
        }

        /*&.is-hidden {
            filter: saturate(0%);
            opacity: 0.3;
        }*/
    }

    // <<<~ ... ~>>>
    &__jsonsynt.is-hidden {
        .jsonbuilder__prop-tag,
        .jsonbuilder__prop-name,
        .jsonbuilder__prop-value,
        .jsonbuilder__prop-comma,
        .jsonbuilder__prop-value-symbol {
            color: #dddddd;
        }
    }

    // <<<@ ... @>>>
    &__jsonsynt.is-params {
        color: #b40db9;
        font-style: italic;
    }

    // <<<! ... !>>>
    &__jsonsynt.is-comment {
        color: #008000;
        font-style: italic;
    }

    // Special colouration
    // ----------------------------------
    &__prop {
        &[data-name="_items-child"] {
            /*&:nth-child(odd) {
                background-color: rgb(233, 248, 255);
            }
            &:nth-child(even) {
                background-color: rgb(211, 236, 248);
            }*/
        }
    }

    &__placeholder {
        color: mix(magenta, #b81515, 50%);
        font-weight: bold;
        font-style: italic;
    }

    // Tooltip
    // ----------------------------------
    .jsonbuilder__prop-tooltip {

        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Edge, Opera and Firefox */

        position: absolute;
        bottom: 100%;
        margin-bottom: 0.25rem;
        display: none;

        padding: 1rem;
        margin-left: -1rem;

        background-color: #dfebff;
        color: #111111;
        box-shadow: 3px 3px 0px rgba(0,0,0,0.35);
        border: 1px solid #526e9b;

        min-width: 600px;

        z-index: 999;

        &.is-optional {
            background-color: mix(@optional-color, white, 15%);
            border-color: @optional-color;
        }

        &.is-notimplemented {
            background-color: mix(@notimplemented-color, white, 15%);
            border-color: @notimplemented-color;
        }

        &.is-hidden {
            background-color: #e4e4e4;
            border-color: #8a8a8a;
            color: #555555;
        }

        &-title {
            margin-bottom: 1rem;
        }

        &-type {
            float: right;
            font-weight: normal;
            font-style: italic;
            opacity: 0.75;
            text-align: right;
            float: right;
            font-family: @body-family;

            padding: 0.5rem;
            background-color: rgba(0.2,0.2,0.2,0.1);
            border: 1px solid rgba(0.2,0.2,0.2,0.4);

            margin-left: 0.5rem;
            margin-bottom: 0.5rem;

            &:empty {
                display: none;
            }
        }

        &-body {
            font-family: @body-family;
        }
    }

    &__prop-name:hover {
        .jsonbuilder__prop-tooltip {
            display: block;
        }
    }

    // Header
    // ---------------
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: @item-padding;

        &.is-component {background-color: mix(rgba(0, 102, 102, 1), white, 20%);}
        &.is-extra {background-color: mix(rgb(163, 98, 0), white, 20%);}
        &.is-block {background-color: mix(rgba(2, 0, 102, 1), white, 20%);}
        &.is-html {background-color: mix(rgb(102, 0, 8), white, 20%);}
        &.is-helper {background-color: mix(rgb(99, 0, 102), white, 20%);}
        &.is-other {background-color: mix(rgb(33, 158, 152), white, 20%);}
    }

    border-width: 1px;
    border-style: solid;
    &.is-component {border-color: mix(rgba(0, 102, 102, 1), white, 40%);}
    &.is-extra {border-color: mix(rgb(163, 98, 0), white, 40%);}
    &.is-block {border-color: mix(rgba(2, 0, 102, 1), white, 40%);}
    &.is-html {border-color: mix(rgb(102, 0, 8), white, 40%);}
    &.is-helper {border-color: mix(rgb(99, 0, 102), white, 40%);}
    &.is-other {border-color: mix(rgb(33, 158, 152), white, 40%);}

    &__header-title {
        font-family: @title-family;
        font-size: @sub-component-title-size;
        font-weight: bold;
    }
    &__header-desc {
        font-family: @title-family;
        margin-top: 0.5rem;
    }

    &__header-controls {
        padding-left: 1.5rem;
        display: flex;
        align-items: center;
    }

    // Helper mode:
    // -------------------------------------
    &__json.is-helper {

        padding-top: 1rem;
        padding-bottom: 1rem;

        .is-inline {
            display: inline-block;
        }

        .is-block {
            display: block;
        }

        .jsonbuilder__prop {
            display: inline-block;
        }
    }
    .jsonbuilder__helper {
        padding-top: 1rem;
        padding-bottom: 1rem;

        .jsonbuilder__prop {
            display: inline;
        }
    }
    &__helper-content {
        color: #c996d6;

        &:not(:empty){
            &::before,
            &::after {
                content: "-";
            }
        }
    }
    &__helper-example {
        margin-top: 1rem;
        font-family: monospace;
        white-space: pre-wrap;
        line-height: 1.5rem;
    }
    &__helper-mark {
        background-color: #f8dcff;
        //padding: 2px;
    }
    &__example-inner {
        //padding-top: @item-padding*3;
        //margin-top: @item-padding*2;
        line-height: 1.4em;
        white-space: pre-wrap;

        //border-top: 1px solid #c996d6;
    }

    &.is-helper &__example-inner {
        padding-top: 0;
        white-space: normal;
        font-family: @body-family;
    }

    &__helper-tag {
        color: #a3780c;
        font-weight: bold;
    }

    &__helper-name {
        color: #af00db;
    }

    &__helper-tag,
    &__helper-properties,
    &__helper-content {
        display: inline;
    }

    // Controls
    // -----------------
    &__btn {
        cursor: pointer;
        font-size: 1.5rem;

        &:hover {
            opacity: 0.7;
        }
    }

    // Helper properties list items
    // ------------------------------------------------
    &__helper-properties-list-items-container {
        border-collapse: collapse;
        width: 100%;

        td, th {
            padding: 1rem;
            vertical-align: top;
            border-bottom: 1px solid rgb(214, 214, 214);
            border-left: none;
            border-right: none;
            text-align: left;

            &:last-child {
                //text-align: center;
                border-left: 1px solid rgb(214, 214, 214);
                font-family: @code-family;
            }
        }

        th {
            font-family: @body-family !important;
            font-weight: 500;
        }

        tr {
            padding: 0.75rem 0;
            &:last-child {
                td, th {
                    border-bottom: none !important;
                }
            }
        }
    }

    &__helper-properties-list-title {
        color: @required-color;
        //font-size: 1.25em;
        //margin-bottom: 0.5rem;
        //font-weight: bold;
        padding-left: 0;
        &.is-optional {
            color: @optional-color;
        }
        &.is-required {
            font-weight: bold;
        }
    }
    &__helper-properties-list-body {
        font-family: @body-family;
        line-height: 1.4em;
    }
}

code.example {
    display: block;
    font-style: normal;
    background: #eeeeee;

    padding: 1rem 1.5rem;

    border-left: 3px solid #9b9b9b; 

    white-space: pre-wrap;

    &:not(:last-child) {
        margin-bottom: 2.5rem;
    }

    mark {
        &[data-is-block] {
            display: inline-block;
        }
        
        background: #ffe3ce;
        & > .br:first-child,
        & > .br:last-child {
            display: none;
        }

        mark {
            background:#f8c1c1;
        }
    }
}

.jsonbuilder__json.is-other {
    font-family: @body-family;

    .jsonbuilder__title {
        display: none;
    }
}