// Preview component
// --------------------------------

@preview-iframe-height: 75%; // Height of the iframe compared to its width.
@preview-bg-color: rgba(0,0,0,0.75);

.preview {

    @preview-color: @darkgrey;
    @preview-graphic-width: 70%;
    @preview-img-proportions: 55%;

    &__inner {
        display: flex;
        flex-direction: column;
        margin: -@component-padding;

        background-color: @preview-bg-color;
    }

    // Controls
    // -----------------------------------
    &__controls-inner {
        padding: @component-padding/1.5 @component-padding;
        display: flex;
        justify-content: space-between;
    }

    &__controls-example {
        display: flex;
    }

    &__controls-btn {
        margin: 0rem 0.25rem;
        padding: 0.1rem 0.3rem;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }

    &__controls-select {
        outline: none;
        min-width: 8rem;
    }

    &__controls-screensize {
        
    }

    &__controls-radio {
        position: absolute;
        visibility: hidden;
    }

    &__controls-radio-label {
        .u-no-select();
        cursor: pointer;
        font-size: 1.5rem;
        margin: 0rem 0.2rem;

        &:last-child {
            margin-right: 0;
        }

        // Not selected
        // ----------------------------
        .preview__controls-radio:not(:checked) + & {
            opacity: 0.2;
            filter: grayscale(1) contrast(0.9);
        }

        // Disabled
        // ----------------------------
        .preview__controls-radio[disabled] + & {
            filter: contrast(0.7) sepia(1) hue-rotate(-48deg) saturate(3) brightness(0.4);
            opacity: 0.5;

            cursor: not-allowed;
        }
    }


    // Iframe
    // -----------------------------------
    &__iframe-container {
        position: relative;
        padding-top: @preview-iframe-height;

        width: 100%;

        max-width: @page-width;
        transition: max-width @duration/2 ease;

        margin: 0px auto 0.5rem;
    }
    &__iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
    }

    // Thumbs
    // -----------------------------------
    &__thumbs {

        flex: 0 0 (100% - @preview-graphic-width);
        position: relative;
    }

    &__thumbs-inner {
        padding: @item-padding;
    }

    &__thumbs-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
        column-gap: @item-padding/4;
        row-gap: @item-padding/4;
    }

    &__thumbs-item {
        cursor: pointer;
        padding: @item-padding;
        border-radius: 5px;

        &.is-active {
            background-color: rgba(0,0,0,0.25);
        }
    }

    &__thumbs-item-inner {
        position: relative;
    }

    &__thumbs-item-title {
        margin-top: 0.25rem;
        text-align: center;
        font-size: 0.8rem;
        line-height: 1.2em;
        opacity: 0.95;
        margin-top: 0.75rem;
    }

    &__thumbs-img-container {
        /*position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;*/

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__thumbs-item-img {
        position: relative;
        width: 100%;
        flex-grow: 1;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        
        padding-top: @preview-img-proportions;
        height: 0;

        filter: drop-shadow(1px 0px @preview-color) drop-shadow(-1px 0px @preview-color) drop-shadow(0px 1px @preview-color) drop-shadow(0px -1px @preview-color);
    }

    // Graphic
    // -----------------------------------
    &__graphic {
        //flex: 0 0 @preview-graphic-width;
        flex-grow: 1;
        padding: @item-padding;
        //margin-right: -@component-padding;
        background-color: rgba(0,0,0,0.75);

        display: flex;
        align-items: center;
    }
    &__graphic-inner {
        position: relative;
        padding-top: @preview-img-proportions;
        height: 0;
        width: 100%;
    }
    &__graphic-img-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__graphic-img {
        width: 100%;
        height: 100%;
        background-position: center;
        //background-size: contain;
        background-repeat: no-repeat;
        filter: drop-shadow(1px 0px @preview-color) drop-shadow(-1px 0px @preview-color) drop-shadow(0px 1px @preview-color) drop-shadow(0px -1px @preview-color);

        @media (max-width: @device-width-large) {
            background-size: contain;
        }
    }
    &__graphic-content {
        color: fade(@white, 95%);
        margin-top: 2rem;
        padding: @item-padding;
        text-align: center;
        background-color: rgba(0,0,0,0.5);
    }
    &__graphic-title {
        font-weight: bold;
    }
    &__graphic-body {
        margin-top: 0.5rem;
    }
}