<div class="description__inner">
    <div class="description__body">
        {{{compile body}}}
    </div>
    {{#if _examples}}
        <div class="description__examples">
            <p><strong title="This is just some examples. This is not a comprehensive list.">Common applications:</strong></p>
            <ul>
                {{#each _examples}}
                    <li>
                        {{{compile @this}}}
                    </li>
                {{/each}}
            </ul>
        </div>
    {{/if}}
</div>