<div class="component__inner">
    <div class="component__title">
        {{title}}
        <div class="component__toggle js-component-toggle" title="Toggle visibility.">
            <span class="component__toggle-minus">➖</span>
            <span class="component__toggle-plus">➕</span>
        </div>
    </div>
    <div class="component__body js-component-body" {{#unless _isActive}}style="display: none;"{{/unless}}>
        
    </div>
</div>