<div class="nav__inner">
    <div class="nav__controls">
        <label class="nav__controls-label"><input class="nav__controls-input nav__controls-checkbox js-nav-controls-thumbnails" type="checkbox" {{#if ./_controls._thumbsEnabled}}checked{{/if}} />Show thumbnails</label>
        <label class="nav__controls-label"><input class="nav__controls-input nav__controls-checkbox js-nav-controls-adapt" type="checkbox" {{#if ./_controls._showAdapt}}checked{{/if}} />Show Adapt</label>
        <label class="nav__controls-label"><input class="nav__controls-input nav__controls-checkbox js-nav-controls-hyb" type="checkbox" {{#if ./_controls._showHyb}}checked{{/if}} />Show Hybrid</label>
    </div>
</div>