<div class="page__inner">

    <div class="page__header">
		<div class="page__header-title">{{{name}}}{{#if subName}} ({{{subName}}}){{/if}}</div>
        
        <div class="page__header-info">
            {{#if type}}<div class="page__header-type">{{type}}</div>{{/if}}
            <div class="page__header-tags js-page-tags"></div>
        </div>
    </div>

    <div class="page__components">
        {{#each components}}
            <div class="page__component-container" data-type="{{@key}}">
                {{! JS appends content here. }}
            </div>
        {{/each}}
    </div>
</div>