<div class="thumbs__inner">
    {{#each _pageTypes}}
    <div class="thumbs__type --{{type}}" data-type="{{type}}">
        <div class="thumbs__type-title">{{name}}</div>
        <div class="thumbs__type-items">

        </div>
    </div>
    {{/each}}
</div>