<a class="thumb__inner" title="{{_id}}" href='#/guide/{{_id}}'>
    <div class="thumb__graphic" style="background-image: url(content/pages/{{type}}/{{_id}}/thumb.jpg);">
    </div>
    <div class="thumb__title">
        <div class="thumb__title-inner"><div>{{{name}}}</div>{{#if subName}} <div>({{{subName}}})</div>{{/if}}</div>
    </div>
</a>