<div class="wordbuilder__controls">

</div>

<div class="wordbuilder__inner">

	{{! Basic HTML used to ensure consistency when pasting into MS Word. }}
	{{#if _header._isEnabled}}
	<div class="wordbuilder__header">
		<p class="wordbuilder__header-item wordbuilder__header-item--sn"><strong>SN:</strong>&nbsp;<span class="wordbuilder__debug w__debug not-copy">{{#if _header.sn}}{{{compile _header.sn}}}{{else}}BU01.1.1{{/if}}</span></p>
		<p class="wordbuilder__header-item wordbuilder__header-item--from"><strong>FROM SN:</strong>&nbsp;<span class="wordbuilder__debug w__debug not-copy">{{#if _header.from}}{{{compile _header.from}}}{{else}}BU02.1.1{{/if}}</span></p>
		<p class="wordbuilder__header-item wordbuilder__header-item--tn"><strong>TN:</strong>&nbsp;{{#if _header.tn}}{{{compile _header.tn}}}{{else}}<span class="wordbuilder__debug w__debug not-copy">Your template here</span>{{/if}}</p>
		{{#if _header.cost}}<p class="wordbuilder__header-item wordbuilder__header-item--tn"><strong>Cost:</strong>&nbsp;<span class="wordbuilder__debug w__debug not-copy">Block cost here.</span></p>{{/if}}
		<p class="wordbuilder__header-item wordbuilder__header-item--notes"><strong>Notes:</strong>&nbsp;{{#if _header.notes}}{{{compile _header.notes}}}{{else}}<span class="wordbuilder__debug w__debug not-copy">Enter any notes/specifications for development here.</span>{{/if}}</p>
		<p class="wordbuilder__header-item wordbuilder__header-item--wn"><strong>WN:</strong>&nbsp;<span class="wordbuilder__debug w__debug not-copy">{{#if _header.wn}}{{{compile _header.wn}}}{{else}}Enter writer's notes here.{{/if}}</span></p>
		{{#if _header.map}}<p class="wordbuilder__header-item wordbuilder__header-item--map"><strong>MAP:</strong>&nbsp;<span class="wordbuilder__debug w__debug not-copy">XXX</span></p>{{/if}}
	</div>
	{{/if}}

	<div class="wordbuilder__main">
		{{#if _comment}}<div class="wordbuilder__comment wordbuilder__debug w__debug not-copy">{{{compile _comment}}}<br/></div>{{/if}}
		{{#if title}}<h1 class="wordbuilder__title" style="font-size: 18pt; display: block;">{{{compile title}}}</h1>{{/if}}
		{{#if body}}<div class="wordbuilder__body">{{{compile body}}}</div><br/>{{/if}}
		{{#if instruction}}<div class="wordbuilder__instruction w__instruction">{{{compile instruction}}}</div><br/>{{/if}}
		{{#if content}}<div class="wordbuilder__content">{{{compile content}}}</div><br/>{{/if}}

		{{#if _items}}
		<div class="wordbuilder__items">
			{{#each _items}}
				<div class="wordbuilder__item-container" style="padding-right: 0;">
					<br />
					{{#if _comment}}<div class="wordbuilder__comment wordbuilder__debug w__debug not-copy">{{{compile _comment}}}</div>{{/if}}
					<div class="wordbuilder__item-controls">{{! CopyBtn appended here }}</div>
					<div class="wordbuilder__item{{#if _type}} is-{{_type}}{{/if}}">
						<div class="wordbuilder__item-title wordbuilder__title">{{#if _header}}{{#w-yellow}}{{{compile _header}}}{{/w-yellow}} {{/if}}{{#if title}}{{{compile title}}}{{else}}Title{{/if}}</div><br/>
						{{#if body}}<div class="wordbuilder__item-body wordbuilder__body">{{{compile body}}}</div>{{/if}}
						{{#if instruction}}<br/><div class="wordbuilder__item-instruction wordbuilder__instruction w__instruction">{{{compile instruction}}}</div>{{/if}}
					</div>
					<br/>
					{{#if content}}<div class="wordbuilder__item-content wordbuilder__content">{{{compile content}}}</div><br/>{{/if}}
				</div>
			{{/each}}
		</div>
		{{/if}}
	</div>

	<br />
</div>
<br />
<br />