<div class="c-stringtable" {{#if _gridWidth}}style="grid-template-columns: repeat(auto-fit, minmax({{_gridWidth}}rem, 1fr));"{{/if}}>
	{{#each chars}}
	<div class="c-stringtable__item{{#if isMarked}} is-marked{{/if}}{{#if isFaded}} is-faded{{/if}}">
		<div class="c-stringtable__item-idx">{{idx}}</div>
		<div class="c-stringtable__item-char">{{char}}</div>
	</div>
	{{/each}}
</div>